@charset "UTF-8";
/* CSS Document */

html{/******** 把整個頁面的背景變成漸層********/
	background: rgba(255,226,254,1);
	background: -moz-linear-gradient(left, rgba(255,226,254,1) 0%, rgba(224,255,221,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,226,254,1)), color-stop(100%, rgba(224,255,221,1)));
	background: -webkit-linear-gradient(left, rgba(255,226,254,1) 0%, rgba(224,255,221,1) 100%);
	background: -o-linear-gradient(left, rgba(255,226,254,1) 0%, rgba(224,255,221,1) 100%);
	background: -ms-linear-gradient(left, rgba(255,226,254,1) 0%, rgba(224,255,221,1) 100%);
	background: linear-gradient(to right, rgba(255,226,254,1) 0%, rgba(224,255,221,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffe2fe', endColorstr='#e0ffdd', GradientType=1 );
}
#grad1{/******** 把Bar置中 ********/
  height: 300px;
  display: -webkit-flex;
  display:         flex;
  -webkit-align-items: center;
          align-items: center;
  -webkit-justify-content: center;
          justify-content: center;
}
input[type=submit] { /******** 改變提交按鈕樣式 ********/
	padding:5px 115px; background:#32906e; border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 0px; 
}

input[type=text] {padding:5px 62px; } /******** 調整bar打大小 ********/
input[type=email] {padding:5px 62px;}
input[type=date] {padding:5px 62px;}

input[type=text]:valid{ /******** 輸入樣式正確 變色 ********/
  background-color:#39b387;
}
input[type=email]:valid{
  background-color:#39b387;
}
input[type=date]:valid{
  background-color:#39b387;
}
select:valid{
  background-color:#39b387;
}

.styled-select.slate { /******** 改變下拉式選單樣式 ********/
   no-repeat right center;
   height: 34px;
   width: 240px;
}